.category {
  padding: 22px 0;
  margin-right: 30px;
  color: #fff;
  border-bottom: 2px solid #555;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.category:first-child {
  border-color: #f65261;
}

.category:last-child {
  padding-right: 0;
}