.footer-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424242;
  height: 70px;
}

.logo {
  color: #f65261;
  font-size: 26px;
}